body {
	background: #333;
	color: #fff;
}

.HomeSection {
	background: url(../../assets/img/back.jpg);
	background-position: 0% 70%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}

.DarkOverlay {
	/* cover the entire parent, absolute from top left to bottom */
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.HomeInner {
	padding-top: 150px;
}
