.btn-primary, .btn-primary:visited {
	background-color: #006C84;
	border-color: #006C84;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #6EB5C0;
	border-color: #6EB5C0;
}

.btn-secondary, .btn-secondary:visited {
	background-color: #6EB5C0 ;
	border-color: #6EB5C0 ;
}

.btn-secondary:hover, .btn-secondary:active {
	background-color: #006C84 ;
	border-color: #006C84;
} 
